* {
  margin: 0;
  padding: 0;
}

/*body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}*/ /*ovo je nesto s neta zanemari al nek bude tu ako zatreba*/
body {
  padding-top: 80px;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: white; /*ne radi za active, a za hover je zamena za stari selektor #mainNav ul li*/
}

/* HEADER */
.link-pocetna {
  font-family: "Kaushan Script";
  font-size: 1.75em;
  position: center;
}

#mainNav {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 80px;
  right: 0;
  left: 0;
}

.meni-lista {
  height: 80px;
  display: grid;
  grid-template-columns: 850px 150px 150px 150px; /*ovde je bilo 1450, vidi responzivnost*/
  list-style-type: none;
  background-color: #0a5467;
  padding-right: 0;
  font-size: x-large;
}

.meni-item {
  display: grid;
  justify-content: center;
  align-content: center;
}

.meni-item:first-child {
  justify-self: left;
  font-size: xx-large;
  align-content: center;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .meni-lista {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: small;
  }
  .meni-lista li:first-child {
    font-size: smaller;
  }
}
/* FOOTER */
/*IDEJA: umesto kontakt telefon, mail i adresa staviti ikonice iz foldera img*/
.footer {
  background-color: #0a5467;
  position: relative;
  width: 100%;
  color: black;
  font-weight: bold;
  text-align: center;
}

.lista-footer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}
.item-lista-footer {
  display: grid;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
}

.lista-footer {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: small;
  justify-content: space-evenly;
}
.lista-footer li {
  justify-items: center;
}

/*Ne znam kako naslov i moto na pocetnoj da sredim da bude responzivan!*/

/*POCETNA*/
#pocetna {
  background-image: url(../img/pozadina.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

/*@media (min-width: 60rem) {
  #pocetna {
    height: 100vh;
  }
}*/
#pocetna .container {
  /* height: 1000px;*/
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

#pocetna .naslov {
  font-size: 200px;
  font-weight: bold;
}
#pocetna .moto {
  font-size: 50px;
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.link-pocetna {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.meni-item {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* PONUDA*/
.ponuda .naslov,
#desavanja h2 {
  font-size: x-large;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 80px;
  text-align: center;
}

.naslov {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.ponuda .container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  justify-items: center;
}
#prva-tri-ukusa {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}
#druga-tri-ukusa {
  display: none;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.slikaukusa,
.slikaukusa img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.ponuda p {
  width: 300px;
}
.ukus,
.div-za-dugme {
  display: grid;
  text-align: center;
  padding: 20px;
}

.naslovukusa {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: x-large;
  padding: 10px;
}

.opisukusa {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  text-align: justify;
}
/*dugmici levo desno*/
.div-za-dugme {
  align-items: center;
}
.dugme-levo {
  background-image: url("../img/levo.png");
  width: 64px;
  height: 64px;
  border: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}

.dugme-desno {
  background-image: url("../img/desno.png");
  width: 64px;
  height: 64px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.dugme-levo:hover {
  background-image: url("../img/levo-hover.png");
  width: 64px;
  height: 64px;
  background-color: white;
  border: none;
}

.dugme-desno:hover {
  background-image: url("../img/desno-hover.png");
  width: 64px;
  height: 64px;
  background-color: white;
  border: none;
}

#id-ponuda {
  background-image: url(../img/oblaci2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

/*DESAVANJA*/
/*za naslov je isto gde i ponuda*/
/*#desavanja h2 {
  font-size:xx-large;
  color: black;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 35px;
  font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',
  Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}*/

.lista-desavanja {
  display: grid;
  grid-template-rows: auto auto auto;
}

.desavanje {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.lista-desavanja img {
  height: 50%;
  width: 50%;
}

.slika-desavanja,
.naslov-desavanja,
.datum-desavanja {
  text-align: center;
  padding: 10px;
}

.slika-desavanja img {
  height: 280px;
  width: 300px;
  border-radius: 50%;
}

.tekst-desavanja {
  text-align: justify;
  padding: 50px;
  margin: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#desavanja {
  background-image: url(../img/pozadina3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.tekst-desavanja {
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

/*KONTAKT*/

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 0 0 3px 0;

  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}

.email-valid {
  outline: 2px solid;
  outline-color: green;
}

.email-invalid {
  outline: 2px solid;
  outline-color: red;
}

.kontakt-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
  justify-content: center;
  align-content: center;
}

#kontakt {
  background-image: url(../img/pozadina2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.lista-footer {
  font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

/*responzivnost stranice ponuda, stranice kontakt i desavanja
tako da sve na uzem ekranu prelazi u 1 kolonu*/
@media (max-width: 800px) {
  .kontakt-container,
  .desavanje,
  #prva-tri-ukusa,
  #druga-tri-ukusa {
    grid-template-columns: auto;
  }
}
