/*#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }*/
  
  *{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: grey;
}


  #mainNav .link-pocetna {
    color: #fed136;
    font-family: 'Kaushan Script' ;
  }
  
  #mainNav .link-pocetna.active, #mainNav .link-pocetna:active, #mainNav .link-pocetna:focus, #mainNav .link-pocetna:hover {
    color: #fec503;
  }
  
  #mainNav .meni-lista .meni-item
   .meni-link.active {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat';
  }
  
  #mainNav .meni-lista .meni-item .meni-link.active.active, #mainNav .meni-lista .meni-item .meni-link.active:hover {
    color: #fed136;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0px;
      padding-bottom: 0px;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .link-pocetna {
      font-size: 1.75em;
      position:center;
      transition: all 0.3s;
    }
    #mainNav .meni-lista .meni-item .meni-link.active {
      padding: 1.1em 1em !important;
    }
  /*  #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .link-pocetna {
      font-size: 1.25em;
      padding: 12px 0;
    }*/

  .navBar{
       
        position: sticky !important;
        top:0;  
    }

    #mainNav .container ul{
        display: grid;
       /* grid-template-columns: auto auto;*/
        grid-template-columns: 1450px 150px 150px 150px;
        list-style-type: none;
        background-color: aquamarine;
        padding: 0;
    }

    #mainNav .container ul li {
        display: grid;
        justify-content: center;
        align-content: center;
        
    } 

    #mainNav .container ul li :hover{
        color: #FF1493;
    } 

    #mainNav .container ul li:first-child {
        justify-self: left;
    } 

    /*
    #mainNav .meni-lista{
        display: grid;
        grid-template-columns: 450px 150px 150px 150px 150px ;
        list-style-type: none;
    }*/
  }